<div class="container-fluid">
    <div class="row header-row">
        <div class="col-sm-12 col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="containers">Cache containers</a>
                </li>
                <li>{{ctrl.container.profile}}</li>
                <li><a ui-sref="container({profileName: ctrl.container.profile, containerName: ctrl.container.name})">{{ctrl.container.name}}</a>
                <li class="active"><strong>Query</strong>
            </ol>
            <h1>
                <span id-generator="availability" class="label" ng-class="ctrl.currentCacheAvailability() ? 'label-success' : 'label-danger'">
                    {{ctrl.currentClusterAvailabilityAsString()}}
                </span>&nbsp;{{ctrl.cache.name}}
            </h1>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6 col-lg-5">
                    <h4>Query</h4>
                    <textarea id="query-editor" class="form-control" rows="10"></textarea>
                    <div>
                        <button type="button" class="btn btn-default" ng-click="ctrl.loadQuery()">RUN QUERY</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-5">
                    <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>
                                JSON
                            </uib-tab-heading>
                            <div class="panel panel-default">
                                <code-mirror code-mirror-obj="ctrl.codeMirror"></code-mirror>
                            </div>
                        </uib-tab>
                        <uib-tab index="1">
                            <uib-tab-heading>
                                Table
                            </uib-tab-heading>
                            <div class="panel panel-default">
                                <query-results-table table-data="ctrl.tableData"></query-results-table>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
